@charset "UTF-8";
/* 浅蓝色皮肤样式 */



* { box-sizing: border-box; }
body, html { background-color: #f5f6fa; margin: 0; padding: 0; height: 100%; font-family: "Microsoft YaHei"; -webkit-font-smoothing: antialiased; }
h3, h4, h5 { color: #686868; }
h2, h3 { line-height: 34px; }
ul,li{ margin:0; padding:0; -webkit-font-smoothing: antialiased;}
a{ text-decoration:none;}
a:active, a:hover, a:focus { outline: 0; text-decoration: none; }
ul,li{ list-style:none;}
img { padding: 0; }

.pull-left{ float:left !important;}
.pull-right{ float:right !important;}
.text-left{ text-align:left;}
.text-center{ text-align:center;}
.text-right{ text-align:right;}
.container-fluid { padding: 0; overflow: hidden; height: 100%; min-height: 100%; background-color: #f5f5f5; position: relative; }
.container-fluid .layout-app { position: absolute; top: 60px; bottom: 0; width: 100%; }
div[class*=col-xs-], div[class*=col-sm-], div[class*=col-md-], div[class*=col-lg-] { padding: 0 6px; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; }
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before { display: table; content: ""; line-height: 0; }
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after { clear: both; }

.tooltip { position: absolute; z-index: 1070; display: block; visibility: visible; font-size: 12px; line-height: 1.4; opacity: 0; filter: alpha(opacity=0); }
.tooltip.in { opacity: .9; filter: alpha(opacity=90); }
.tooltip.top { margin-top: -3px; padding: 5px 0; }
.tooltip.right { margin-left: 3px; padding: 0 5px; }
.tooltip.bottom { margin-top: 3px; padding: 5px 0; }
.tooltip.left { margin-left: -3px; padding: 0 5px; }
.tooltip-inner { padding: 3px 8px; max-width: 200px; border-radius: 4px; background-color: #272a2c; color: #bab9b9; text-align: center; text-decoration: none; }
.tooltip-arrow { position: absolute; width: 0; height: 0; border-color: transparent; border-style: solid; }
.tooltip.bottom .tooltip-arrow { top: 0; left: 50%; margin-left: -5px; border-width: 0 5px 5px; border-bottom-color: #272a2c; }
.fade { opacity: 0; -webkit-transition: opacity .15s linear; -moz-transition: opacity .15s linear; -o-transition: opacity .15s linear; transition: opacity .15s linear; -ms-transition: opacity .15s linear; }
.fade.in { opacity: 1; }
.popover { white-space: nowrap; position: absolute; top: 0; left: 0; z-index: 1060; display: none; padding: 1px; max-width: 276px; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,.2); border-radius: 6px; background-color: #ffffff; background-clip: padding-box; -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2); -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2); box-shadow: 0 5px 10px rgba(0,0,0,.2); text-align: left; white-space: normal; }
.popover.top { margin-top: -10px; }
.popover.right { margin-left: 10px; }
.popover.bottom { margin-top: 10px; }
.popover.left { margin-left: -10px; }
.popover-title { margin: 0; padding: 8px 14px; border-bottom: 1px solid #ebebeb; border-radius: 5px 5px 0 0; background-color: #f7f7f7; font-weight: 400; font-size: 14px; line-height: 18px; }
.popover-content { padding: 9px 14px; }
.popover-content .tooltip-inner { max-width: inherit;}
.popover>.arrow, .popover>.arrow:after { position: absolute; display: block; width: 0; height: 0; border-color: transparent; border-style: solid; }
.popover>.arrow { border-width: 11px; }
.popover>.arrow:after { border-width: 10px; content: ""; }
.popover.top>.arrow { bottom: -11px; left: 50%; margin-left: -11px; border-bottom-width: 0; border-top-color: #999; border-top-color: rgba(0,0,0,.25); }
.popover.top>.arrow:after { bottom: 1px; margin-left: -10px; content: " "; border-bottom-width: 0; border-top-color: #fff; }
.popover.right>.arrow { top: 50%; left: -11px; margin-top: -11px; border-left-width: 0; border-right-color: #999; border-right-color: rgba(0,0,0,.25); }
.popover.right>.arrow:after { bottom: -10px; left: 1px; content: " "; border-left-width: 0; border-right-color: #fff; }
.popover.bottom>.arrow { top: -11px; left: 50%; margin-left: -11px; border-top-width: 0; border-bottom-color: #999; border-bottom-color: rgba(0,0,0,.25); }
.popover.bottom>.arrow:after { top: 1px; margin-left: -10px; content: " "; border-top-width: 0; border-bottom-color: #fff; }
.popover.left>.arrow { top: 50%; right: -11px; margin-top: -11px; border-right-width: 0; border-left-color: #999; border-left-color: rgba(0,0,0,.25); }
.popover.left>.arrow:after { right: 1px; bottom: -10px; content: " "; border-right-width: 0; border-left-color: #fff; }


@media(min-width:992px) {
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 { float: left; }
	.col-md-12 { width: 100%; }
	.col-md-11 { width: 91.66666667%; }
	.col-md-10 { width: 83.33333333%; }
	.col-md-9 { width: 75%; }
	.col-md-8 { width: 66.66666667%; }
	.col-md-7 { width: 58.33333333%; }
	.col-md-6 { width: 50%; }
	.col-md-5 { width: 41.66666667%; }
	.col-md-4 { width: 33.33333333%; }
	.col-md-3 { width: 25%; }
	.col-md-2 { width: 16.66666667%; }
	.col-md-1 { width: 8.33333333%; }
	.col-md-pull-12 { right: 100%; }
	.col-md-pull-11 { right: 91.66666667%; }
	.col-md-pull-10 { right: 83.33333333%; }
	.col-md-pull-9 { right: 75%; }
	.col-md-pull-8 { right: 66.66666667%; }
	.col-md-pull-7 { right: 58.33333333%; }
	.col-md-pull-6 { right: 50%; }
	.col-md-pull-5 { right: 41.66666667%; }
	.col-md-pull-4 { right: 33.33333333%; }
	.col-md-pull-3 { right: 25%; }
	.col-md-pull-2 { right: 16.66666667%; }
	.col-md-pull-1 { right: 8.33333333%; }
	.col-md-pull-0 { right: auto; }
	.col-md-push-12 { left: 100%; }
	.col-md-push-11 { left: 91.66666667%; }
	.col-md-push-10 { left: 83.33333333%; }
	.col-md-push-9 { left: 75%; }
	.col-md-push-8 { left: 66.66666667%; }
	.col-md-push-7 { left: 58.33333333%; }
	.col-md-push-6 { left: 50%; }
	.col-md-push-5 { left: 41.66666667%; }
	.col-md-push-4 { left: 33.33333333%; }
	.col-md-push-3 { left: 25%; }
	.col-md-push-2 { left: 16.66666667%; }
	.col-md-push-1 { left: 8.33333333%; }
	.col-md-push-0 { left: auto; }
	.col-md-offset-12 { margin-left: 100%; }
	.col-md-offset-11 { margin-left: 91.66666667%; }
	.col-md-offset-10 { margin-left: 83.33333333%; }
	.col-md-offset-9 { margin-left: 75%; }
	.col-md-offset-8 { margin-left: 66.66666667%; }
	.col-md-offset-7 { margin-left: 58.33333333%; }
	.col-md-offset-6 { margin-left: 50%; }
	.col-md-offset-5 { margin-left: 41.66666667%; }
	.col-md-offset-4 { margin-left: 33.33333333%; }
	.col-md-offset-3 { margin-left: 25%; }
	.col-md-offset-2 { margin-left: 16.66666667%; }
	.col-md-offset-1 { margin-left: 8.33333333%; }
	.col-md-offset-0 { margin-left: 0; }
}


/* 顶部公用导航 */
#navLayer{ position:fixed; display: flex; justify-content: space-between; align-items: flex-start; left:0; top:0; width:100%; border-bottom: 1px solid #e6e6e6; height:60px; background-color:#fff; z-index:4; font:12px/1.5em 'Microsoft YaHei','Helvetica Neue','Helvetica','Arial','Hiragino Sans GB','sans-serif';}
#navLayer .logos{ width:200px; height:60px; padding:15px 0; background-color: #00bff1; box-sizing: border-box;}
#navLayer .logos a{ display:block;}
#navLayer .logos a img{ width:100px; height:30px;}
#navLayer .nav-user { display: flex; width: 370px; height: 60px; line-height: 60px;}
#navLayer .nav-user .user{ position: relative; width: 120px; background:url('../../images/menu-icon.png') no-repeat scroll center; background-position:-528px -244px; margin:0 0 0 12px; padding-right: 20px;}
#navLayer .nav-user .user a img.userImg{ width: 32px; height: 32px; margin-right: 5px; vertical-align: middle; }
#navLayer .nav-user a{ display: block; color: #666; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#navLayer .nav-user .userSet{border: 1px solid #E6E6E6; border-top: none;}
#navLayer .nav-user .tips-icon { display: flex; }
#navLayer .nav-user ul.tips-icon li{ padding: 10px 5px;}
#navLayer .nav-user ul.tips-icon li a.icons{ background:url('../../images/menu-icon.png') no-repeat scroll center; width: 40px; height: 40px;}
#navLayer .nav-user ul.tips-icon li a.icon-anli{ background-position:-442px -161px;}
#navLayer .nav-user ul.tips-icon li a.icon-gg{ background-position:-444px -201px;}
#navLayer .nav-user ul.tips-icon li a.icon-fk{ background-position:-445px -243px;}
#navLayer .nav-user ul.tips-icon li a.icon-kf{ background-position:-446px -283px;}
#navLayer .nav-user .line{ margin: 20px 15px; height: 20px; border-right: 1px solid #B9B9B9;}
#navLayer .nav-user ul.userSet{ display: none; position:absolute; top: 59px; background-color: #fff; width: 120px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; overflow: hidden;}
#navLayer .nav-user ul.userSet li{ height: 36px; line-height: 36px; text-align: center;}
#navLayer .nav-user ul.userSet li a{ display: block;}
#navLayer .nav-user ul.userSet li a:hover{ background-color: #FBFBFB; }

/* 左侧公用菜单 */
.popover { z-index: 30007; border: 1px solid #CCC;}
.popover-content { background-color: #f1f1f1;}
.popover.bottom .arrow { border-bottom-color: #ccc;}
.popover.bottom>.arrow:after { border-bottom-color: #EAEAEA;}

/* menu link */
.slimScrollDiv { float: left; background-color: #26303f; }
.menuLayer { position:absolute; top: 60px; left:0; width:200px; height:100%; background-color:#26303f; font:13px/1.5em 'Microsoft YaHei','Helvetica Neue','Helvetica','Arial','Hiragino Sans GB','sans-serif'; z-index:3;}
.menuLayer ul.menuUL{ width:100%; position: relative; padding: 30px 0 10px;}
.menuLayer ul.menuUL>li{ height:42px; line-height:42px;}
.menuLayer ul.menuUL>li:first-child { border-top: 1px solid #3c4553;}
.menuLayer ul.menuUL>li>a{ display:block; background:url('../../images/menu-icon.png') no-repeat; border-left: 2px solid #093041; color:#b9c3d2; padding-left:65px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.menuLayer ul.menuUL>li>a:hover{ background-color:#354256; border-left: 2px solid #354256; color: #fff;}
.menuLayer ul.menuUL>li>a.active{ background-color:#354256; border-left: 2px solid #00bff1; color: #fff;}
.menuLayer ul.menuUL>li>a i.icon-right{ float: right; display: inline-block;  width: 6px; height: 48px; padding: 0 25px; background-position: 16px 0px;}
.menuLayer ul.menuUL>li>a i.icon-open{ background-position: 16px -49px;}
.menuLayer ul.menuUL>li>a i.icon-close{ background-position: 16px -99px;}
.menuLayer ul.menuUL>li>a i.icon-right:after{ clear:both;}
.menuLayer ul.menuUL>li>a.icon_sy{ background-position:15px 3px;}
.menuLayer ul.menuUL>li>a.icon_yxxm{ background-position:15px -139px;}
.menuLayer ul.menuUL>li>a.icon_hd{ background-position:15px -279px;}
.menuLayer ul.menuUL>li>a.icon_yxgj{ background-position:-190px -701px;}
.menuLayer ul.menuUL>li>a.icon_lxr{ background-position:15px -566px;}
.menuLayer ul.menuUL>li>a.icon_hy{ background-position:-190px 5px;}
.menuLayer ul.menuUL>li>a.icon_fx{ background-position:-190px -140px;}
.menuLayer ul.menuUL>li>a.icon_wxtg{ background-position:-190px -278px;}
.menuLayer ul.menuUL>li>a.icon_sjbb{ background-position:-190px -424px;}
.menuLayer ul.menuUL>li>a.icon_xtsz{ background-position:-190px -567px;}
.menuLayer ul.menuUL>li>a.icon_wz{ background-position:18px -703px;}
.menuLayer ul.menuUL>li>a.icon_yx{ background-position: 18px -856px;}
/* menu hover */
.menuLayer ul.menuUL>li>a.icon_sy:hover{ background-position:15px -33px;}
.menuLayer ul.menuUL>li>a.icon_yxxm:hover{ background-position:15px -174px;}
.menuLayer ul.menuUL>li>a.icon_hd:hover{ background-position:15px -315px;}
.menuLayer ul.menuUL>li>a.icon_yxgj:hover{ background-position:-190px -738px;}
.menuLayer ul.menuUL>li>a.icon_lxr:hover{ background-position:15px -598px;}
.menuLayer ul.menuUL>li>a.icon_hy:hover{ background-position:-190px -31px;}
.menuLayer ul.menuUL>li>a.icon_fx:hover{ background-position:-190px -175px;}
.menuLayer ul.menuUL>li>a.icon_wxtg:hover{ background-position:-190px -314px;}
.menuLayer ul.menuUL>li>a.icon_sjbb:hover{ background-position:-190px -460px;}
.menuLayer ul.menuUL>li>a.icon_xtsz:hover{ background-position:-190px -599px;}
.menuLayer ul.menuUL>li>a.icon_wz:hover{ background-position:18px -741px;}
.menuLayer ul.menuUL>li>a.icon_yx:hover { background-position: 18px -895px;}
/* menu active */
.menuLayer ul.menuUL>li>a.icon_sy:active, .menuLayer ul.menuUL>li>a.icon_sy.active { background-position:15px -69px;}
.menuLayer ul.menuUL>li>a.icon_yxxm:active, .menuLayer ul.menuUL>li>a.icon_yxxm.active { background-position:15px -209px;}
.menuLayer ul.menuUL>li>a.icon_hd:active, .menuLayer ul.menuUL>li>a.icon_hd.active { background-position:15px -351px;}
.menuLayer ul.menuUL>li>a.icon_yxgj:active, .menuLayer ul.menuUL>li>a.icon_yxgj.active { background-position:-190px -775px;}
.menuLayer ul.menuUL>li>a.icon_lxr:active, .menuLayer ul.menuUL>li>a.icon_lxr.active { background-position:15px -630px;}
.menuLayer ul.menuUL>li>a.icon_hy:active, .menuLayer ul.menuUL>li>a.icon_hy.active { background-position:-190px -67px;}
.menuLayer ul.menuUL>li>a.icon_fx:active, .menuLayer ul.menuUL>li>a.icon_fx.active { background-position:-190px -210px;}
.menuLayer ul.menuUL>li>a.icon_wxtg:active, .menuLayer ul.menuUL>li>a.icon_wxtg.active { background-position:-190px -350px;}
.menuLayer ul.menuUL>li>a.icon_sjbb:active, .menuLayer ul.menuUL>li>a.icon_sjbb.active { background-position:-190px -496px;}
.menuLayer ul.menuUL>li>a.icon_xtsz:active, .menuLayer ul.menuUL>li>a.icon_xtsz.active { background-position:-190px -631px;}
.menuLayer ul.menuUL>li>a.icon_wz:active, .menuLayer ul.menuUL>li>a.icon_wz.active{ background-position:18px -779px;}
.menuLayer ul.menuUL>li>a.icon_yx:active, .menuLayer ul.menuUL>li>a.icon_yx.active { background-position: 18px -934px;}

/* 常用功能  最近访问 */
.menuLayer ul.otherMenu{ border-top: 1px solid #3c4553; padding: 20px 0 140px 66px;}
.menuLayer ul.otherMenu .otherMenu-title{ color: #657692; font-size: 14px;}
.menuLayer ul.otherMenu .otherMenuLi{ padding-left: 0; margin: 10px 0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.menuLayer ul.otherMenu .otherMenuLi a{ color: #b9c3d2; font-size: 12px;}
.menuLayer ul.otherMenu .otherMenuLi a:hover{ color: #b9c3d2;}

/* 二级菜单 */
.sub-menu{ display: none; position: fixed; left: 200px; width: 200px; height: 100%; background-color: #fff; border-right: 1px solid #e1e5e8; box-shadow: 0 0 5px rgb(225, 229, 232);z-index:2}
.sub-menu ul { margin-top: 60px;}
.sub-menu ul li{ width: 100%; border-bottom: 1px solid #ededed; height: 50px; line-height: 50px;}
.sub-menu ul li a{display: block; color: #333; padding-left: 30px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.sub-menu ul li a:hover{ background-color:#f4f7f9;}
.sub-menu:after{ clear: both;}
.sub-nav{}
.sub-nav li{ height: 40px; line-height: 40px;}
.sub-nav li a{ display: block; color: #b9c3d2; padding:0 10px 0 68px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.sub-nav li.active a:hover, .sub-nav li.active a, .sub-nav li a:hover{ color: #00bff1;}

/* 切换导航模版 */
.choose-style{ position: fixed; left: 0; bottom: 0; width: 200px; font-size: 12px; padding: 10px; background-color: #26303f; border-top: 1px solid #3c4553; color: #b9c3d2; text-align: center;}
.choose-style .styles{ float: left; width: 19px; height: 19px; border: 1px solid #68717a; margin-right: 10px;}
.choose-style .styles:hover, .choose-style .styles.active{ border: 1px solid #da4638;}
.choose-style .styles1{ background-color: #26303f;}
.choose-style .styles2{ background-color: #ebf1f5;}

/* 显示隐藏左侧菜单 */
.toggleNav{ position: fixed; left: 0; top: 60px; background-color: #26303f; width: 200px; height: 30px; line-height: 30px; text-align: right; z-index: 2;}
.toggleNav:after{ clear: both;}
.toggleNav a{ display: inline-block; background: url('../../images/menu-icon.png') no-repeat; background-position: -452px -328px; width: 30px; height: 30px; line-height: 30px;}
.showMneu{ display: none; position: fixed; left: 10px; bottom: 10px;z-index: 2;}
.showMneu img{ width: 60px; height: 60px;}

/* page */
.pagination { display: inline-block; margin: 20px 0; padding-left: 0; border-radius: 4px; height: 31px; overflow: hidden; }
.pagination>li { display: inline; }
.pagination>li>a, .pagination>li>span { position: relative; float: left; margin-left: -1px; padding: 6px 12px; border: 1px solid #ddd; background-color: #fff; color: #428bca; text-decoration: none; line-height: 1.42857143; }
.pagination>li:first-child>a, .pagination>li:first-child>span { margin-left: 0; border-bottom-left-radius: 4px; border-top-left-radius: 4px; }
.pagination>li:last-child>a, .pagination>li:last-child>span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover { border-color: #ddd; background-color: #eee; color: #2a6496; }
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover { z-index: 2; border-color: #428bca; background-color: #428bca; color: #fff; cursor: default; }
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover { border-color: #ddd; background-color: #fff; color: #777; cursor: not-allowed; }
.pagination-lg>li>a, .pagination-lg>li>span { padding: 10px 16px; font-size: 18px; }
.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span { border-bottom-left-radius: 6px; border-top-left-radius: 6px; }
.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span { border-top-right-radius: 6px; border-bottom-right-radius: 6px; }
.pagination-sm>li>a, .pagination-sm>li>span { padding: 5px 10px; font-size: 12px; }
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span { border-bottom-left-radius: 3px; border-top-left-radius: 3px; }
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }

/* dropdown */
.caret { display: inline-block; margin-left: 2px; width: 0; height: 0; border-top: 4px solid; border-right: 4px solid transparent; border-left: 4px solid transparent; vertical-align: middle; }
.dropdown { position: relative; display: inline-block; }
.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; float: left; display: none; margin: 2px 0 0; padding: 5px 0; min-width: 160px; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,.15); border-radius: 4px; background-color: #fff; background-clip: padding-box; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175); box-shadow: 0 6px 12px rgba(0,0,0,.175); list-style: none; text-align: left; font-size: 14px; }
.dropdown-menu>li>a { clear: both; display: block; padding: 3px 20px; color: #333; white-space: nowrap; font-weight: 400; line-height: 1.42857143; }
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover { background-color: #f5f5f5; color: #262626; text-decoration: none; }
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover { outline: 0; background-color: #428bca; color: #fff; text-decoration: none; }
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover { color: #777; }
.dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover { background-color: transparent; background-image: none; text-decoration: none; cursor: not-allowed;  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.open>.dropdown-menu { display: block; }
.open>a { outline: 0; }

/* modal */
.close { float: right; color: #000; text-shadow: 0 1px 0 #fff; font-weight: 700; font-size: 21px; line-height: 1; opacity: .2; filter: alpha(opacity=20); }
.close:focus, .close:hover { color: #000; text-decoration: none; opacity: .5; cursor: pointer; filter: alpha(opacity=50); }
button.close { padding: 0; border: 0; background: 0 0; cursor: pointer; -webkit-appearance: none; }
.modal-open { overflow: hidden; }
.modal { position: fixed!important; top: 0; right: 0; bottom: 0; left: 0; z-index: 1050; display: none; overflow: hidden; outline: 0; -webkit-overflow-scrolling: touch; }
.modal.fade .modal-dialog { -webkit-transition: -webkit-transform .3s ease-out; -moz-transition: -moz-transform .3s ease-out; -o-transition: -o-transform .3s ease-out; transition: transform .3s ease-out; -webkit-transform: translate3d(0, -25%, 0); transform: translate3d(0, -25%, 0); }
.modal.in .modal-dialog { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.modal-open .modal { overflow-x: hidden; overflow-y: auto; }
.modal-dialog { position: relative; margin: 10px; width: auto; }
.modal-content { position: relative; outline: 0; border: 1px solid #999; border: 1px solid rgba(0,0,0,.2); border-radius: 6px; background-color: #fff; background-clip: padding-box; -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5); -moz-box-shadow: 0 3px 9px rgba(0,0,0,.5); box-shadow: 0 3px 9px rgba(0,0,0,.5); }
.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: #000; }
.modal-backdrop.fade { opacity: 0; filter: alpha(opacity=0); }
.modal-backdrop.in { opacity: .5; filter: alpha(opacity=50); }
.modal-header { padding: 15px; min-height: 16.43px; border-bottom: 1px solid #e5e5e5; }
.modal-header .close { margin-top: -2px; }
.modal-title { margin: 0; line-height: 1.42857143; }
.modal-body { position: relative; padding: 30px 15px; }
.modal-footer { padding: 15px; border-top: 1px solid #e5e5e5; text-align: right; }
.modal-footer .btn+.btn { margin-bottom: 0; margin-left: 5px; }
.modal-footer .btn-group .btn+.btn { margin-left: -1px; }
.modal-footer .btn-block+.btn-block { margin-left: 0; }
.modal-scrollbar-measure { position: absolute; top: -9999px; overflow: scroll; width: 50px; height: 50px; }
 @media(min-width:0) {
	.modal-dialog { margin: 30px auto; width: 600px; }
	.modal-content { -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5); -moz-box-shadow: 0 5px 15px rgba(0,0,0,.5); box-shadow: 0 5px 15px rgba(0,0,0,.5); }
	.modal-sm { width: 300px; }
}
 @media(min-width:992px) {
  .modal-lg { width: 900px; }
}

